.users-roles {
  padding: 20px;
}

.users-roles h2 {
  text-align: center;
  margin-bottom: 20px;
}

.creation-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.creation-toggle label {
  margin: 0 10px;
  cursor: pointer;
}

.creation-toggle input {
  margin-right: 5px;
}

.users-roles form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.users-roles form input,
.users-roles form select {
  margin: 5px 0;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-roles form button {
  padding: 10px 20px;
  background-color: #800000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.users-roles form button:hover {
  background-color: #800000;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-item {
  background-color: #f8e9d2;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-item .edit-button,
.user-item .delete-button {
    border: 1px solid #ccc; /* Adding border to the buttons */
  }
  

.user-item button {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-item button:hover {
  background-color: #bdc3c7;
}
