.content-main {
    padding: 20px 30px;
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
    color: #333;
    
  }
  
  .content-main h1 {
    font-size: 32px;
    color: #800000; /* Цвет заголовка */
  }
  
  .content-main p {
    font-size: 18px;
    line-height: 1.6;
  }
  