.proceduresSearch-container {
    font-family: 'Arial', sans-serif;
    background-color: #f8e9d2; /* Цвет фона, как на странице процедур */
    padding: 10px;
  }
  
  .proceduresSearch-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Сетка из трех колонок */
    gap: 20px;
  }
  
  .proceduresSearch-card {
    background-color: #ffffff; /* Белый фон для карточки */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для карточки */
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .proceduresSearch-card:hover {
    transform: translateY(-10px); /* Поднимаем карточку при наведении */
  }
  
  .proceduresSearch-link {
    text-decoration: none;
    color: inherit; /* Наследовать цвет текста */
  }
  
  .proceduresSearch-name {
    font-size: 1.5em;
    color: #800000; /* Темно-красный цвет для названия процедуры */
    margin-bottom: 10px;
  }
  
  .proceduresSearch-price {
    font-size: 1.2em;
    color: #333; /* Тёмный цвет для цены */
    margin-bottom: 20px;
  }
  
  .proceduresSearch-more {
    font-size: 1em;
    color: #800000; /* Темно-красный цвет для ссылки "Подробнее" */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .proceduresSearch-more:hover {
    color: #b30000; /* Более яркий красный цвет при наведении */
  }
  
  
  