.account {
    padding: 20px;
  }
  
  .account-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }

  .account-details {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */
  }

  .account-details p {
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    color: #800000;
    font-size: 18px;
  }
  
  .change-section h3 {
    cursor: pointer;
    color: #800000;
    margin-top: 20px;
    font-size: 16px;
  }

  .change-section h3:hover {
    color: #800000;
  }
  
  .change-section form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 400px; /* Set a maximum width for the form */
    margin-left: auto;
    margin-right: auto;
  }
  
  .change-section input,
  .change-section select {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .change-section button {
    padding: 10px 20px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content; /* Fit button to content */
    align-self: center;
  }
  
  .forgot-password-button {
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
  }
  